<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.comicground">

    <!-- Permisos para la conexión Internet -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- usesCleartextTraffic=true necesario para poder usar la API -->
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_baseline_track_changes_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_baseline_track_changes_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComicGround">
        <activity
            android:name=".activities.ActivityComic"
            android:exported="false" />
        <activity
            android:name=".activities.ActivityRegistro"
            android:exported="false" />
        <activity
            android:name=".activities.ActivityBuscar"
            android:exported="false" />
        <activity
            android:name=".activities.ActivityInicio"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>